<% provide(:title, "Terms & Conditions") %>
<% content_for :nav, render('layouts/nav_signup') %>

<div class="container">
  <div class="divide80"></div>
  <h1>Terms & Conditions</h1>
  <p>Awesomebuster is a result-based crowd-busting and online technology consulting company.</p>
  <div class="divide80"></div>
</div>
