
    <body>

        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Our robot products could help business to reduce human costs and increase sales.</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->
        <div class="divide80"></div>

        <!-- 23-Jan-2019 , About us, AIDA Robotics -->
        <div class="divide80"></div>
        <div class="container">

          <!-- Service delivery robot-->
          <div class="row">
              <div class="col-md-6 margin20">
                  <h3>SERVICE DELIVERY ROBOT</h3>
                  <span class="center-line"></span>
                  <div class="divide20"></div>
                  <p>
                    The core functions of item delivery robot include:
                    <br>•	Send stuff/items to a particular room with autonomous navigation and navigation obstacle avoidance and return back autonomously.
                    <br>•	Take lift/elevator
                    <br>•	Voice communication control: e.g. talk to the robot, go to room 512 by voice, the robot will go to room 512 to deliver the bath towel
                    <br>•	Connect and call the telephone in each room when deliver the item to a room
                    <br>•	English and Chinese version
                  </p>
                  <!--<p><a href="/products/index" class="btn border-blue btn-lg">Our Services</a></p>-->
              </div>
              <div class="col-md-6">
                  <img src="<%= asset_path "delivery-robot.jpg" %>" class="img-responsive" alt="">
              </div>
          </div>
          <!-- End of service delivery robot-->

            <!--Reception Robot-->
            <section id="services-bg-wrap" class="white-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 hidden-sm">
                            <img src="<%= asset_path "reception-robot.jpg" %>" class="img-responsive wow animated fadeInLeft" alt="mockup">
                        </div>
                        <div class="col-md-1 hidden-sm">
                        </div>
                        <div class="col-md-7  col-xs-12 service-4-meta">
                            <h3>RECEPTION ASSISTANT ROBOT</h3>
                            <span class="center-line"></span>
                            <div class="divide20"></div>
                            <p>The core functions of reception robot include:<br>•	Welcome guests in two languages, English and Chinese by voice communication
  <br>•	Help guests to check in rooms by voice guide and touch screen
  <br>•	Recommend and introduce different types of rooms in hotels by voice communication and screen show
  <br>•	Answer general questions: the nearby train station, weather, nearby supermarket, popular travel places, etc by voice communication
  <br>•	Answer particular hotel questions: the price of different types of rooms, the facilities of each room, room availability, and etc. by voice communication and screen show
  <br>•	Card or QR code scan payment (have voice guide)
  <br>•	Take out the room card for guests automatically </p>

                            <div class="divide20"></div>

                        </div>
                    </div>
                </div>
            </section>
            <!--End of Reception Robot-->

            <!--Companion Robot-->
            <section id="services-bg-wrap" class="white-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 hidden-sm">
                            <img src="<%= asset_path "companion-robot.jpg" %>" class="img-responsive wow animated fadeInLeft" alt="mockup">
                        </div>
                        <div class="col-md-6  col-xs-12 service-4-meta">
                            <h3>COMPANION ROBOT</h3>
                            <span class="center-line"></span>
                            <div class="divide20"></div>
                            <p>The companion robot is very popular in kindergarden, schools for kids, and have provided extra valua in K12 education.
                            <b>the robot could communicate with people by using NLP, NLU technologies,
                            <b>could play music, tell jokes, book restaurants, call a taxi,
                            <b>remind you about appointments, remember things for you, search for knowledge, check the weather and so on.
</p>

                            <div class="divide20"></div>

                        </div>
                    </div>
                </div>
            </section>
            <!--End of Companion Robot-->

            <!-- Warehouse AGV robot-->
    <section id="services-bg-wrap" class="white-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 margin20">
                    <h3>Warehouse Autonomous ROBOT</h3>
                    <span class="center-line"></span>
                    <div class="divide20"></div>
                    <p>
                      The warehouse autonomous AGV robots could help transport heavy materials.
                      <br>•	Navigate around the warehouse and transport heavy materials autonomously by using Lidar.
                      <br>•	Carry heavy pallets and loads as heavy as 3,000 pound.
                      <br>•	Release human workers from the dangerous working environment with more efficient and accurate robots to locate and pick heavy items.
                      <br>•	Multi-tasks robotic cooperation system.
                    </p>
                </div>
                <div class="col-md-6">
                    <iframe width="560" height="349" src="https://youtube.com/embed/BpAdXf24trY" frameborder="0"></iframe>
            </div>
          </div>
      </section>
            <!-- End of warehouse AGV robot-->

        <div class="divide60"></div>

        <section id="cta-1">
            <div class="container">
                <h1>Let a service robot work for you
                <br>to improve work productivity and reduce cost</h1>
            </div>
        </section>


    </body>
</html>
