
    <body>

        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Our robot products could help business to reduce human costs and increase sales.</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->
        <div class="divide80"></div>


        <div class="container">
            <div class="row">
                <div class="col-md-6 margin20">
                    <h3 class="heading">Little About our robotic products</h3>
                    <p>
                      We sell two SERVICE ROBOTICS PRODUCTS:
<br>SERVICE DELIVERY ROBOT which could take lift and deliver items to each room autonoumously by using SLAM, navigation AI techniques;
<br>RECEPTION ASSISTANT ROBOT working in hotels to help customers to check-in with billingual voice communication (English and Chinese),
one robot could help business reduce two human costs.
                    </p>
                </div>
                <div class="col-md-6">
                    <!--<img src="<%= asset_path "showcase-4.jpg" %>" class="img-responsive" alt="">-->
                    <img src="<%= asset_path "showcase-worldmap.jpg" %>" class="img-responsive" alt="">
                </div>
            </div><!--about intro-->
            <div class="divide60"></div>
            <div class="row">

                <div class="col-md-12 margin20">
                    <h3 class="heading">Meet the Busters and Connect the Users</h3>
                </div>
            </div>

        </div><!--team-->



        <div class="divide60"></div>

        <section id="cta-1">
            <div class="container">
                <h1>Let a service robot work for you to improve work productivity and reduce cost</h1>
                <a href="#" class="btn border-white btn-lg">Contact Us</a>
            </div>
        </section>


    </body>
</html>
