
    <body>

        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Careers</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                        <ol class="breadcrumb">
                            <li><a href="index.html">Portfolio</a></li>
                            <li>careers</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->

        <div class="divide80"></div>
        <div class="container">

            <div class="row">
               <div class="col-md-6 margin20">
                  <h3 class="heading">A little about us</h3>
                  <p>
                    Bugsters provides a result-based crowdtesting platform which allows world's users to bust your products and pay based on the bug which the software busters find.
                    But we are not stopping here, We also connect world's tech experts to help enterprises to solve their problems through our crowd-tech expert online platform.<br>
                  </p>

               </div>
               <div class="col-md-6">
                  <img src="<%= asset_path "showcase-1.jpg" %>" class="img-responsive" alt="">
               </div>
            </div><!--about intro-->

            <div class="divide40"></div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading">Current jobs Openings</h3>
                </div>
            </div>
            <div class="row jobs-row">
                <div class="col-md-8">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        Software Engineer <br>
                                        <em>(Full Stack, Ruby, Ruby on Rails)</em>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    We welcome a passionate full stack software engineer to join our family. <br>
                                    You are expected to have the skills as below: Ruby, Ruby on Rails, HTML5, CSS3, Javascript, SQLite3, MySQL, PostgreSQL, Popular Gems, Git, GitHub and Heroku.
                                    <div class="divide30"></div>
                                    <p><a href="#" class="btn btn-theme-bg">Apply Now</a></p>
                                </div>
                            </div>
                        </div><!--panel end-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo">
                                        Android Developer <br>
                                        <em>(Full Stack, Java)</em>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsetwo" class="panel-collapse collapse ">
                                <div class="panel-body">
                                    We welcome a skillful Android developer to join our family. <br>
                                    You are expected to have the skills as below: Java, Android SDK, JSON/REST APIs, Git and Github.

                                    <div class="divide30"></div>
                                    <p><a href="#" class="btn btn-theme-bg">Apply Now</a></p>
                                </div>
                            </div>
                        </div><!--panel end-->
                          <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapsethree">
                                        iOS Developer <br>
                                        <em>(Full Stack, Swift)</em>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapsethree" class="panel-collapse collapse ">
                                <div class="panel-body">
                                    We welcome an experienced iOS developer to join our family. <br>
                                    You are expected to have the below skills: Objective-C, Swift, RESTful APIs, Cocoa Touch Frameworks, Git and Github.
                                    <div class="divide30"></div>
                                    <p><a href="#" class="btn btn-theme-bg">Apply Now</a></p>
                                </div>
                            </div>
                        </div><!--panel end-->
                    </div>
                </div><!--job row end-->
                <div class="col-md-3 col-md-offset-1">
                    <div class="sidebar-box margin40">
                        <h4>Search</h4>
                        <form role="form" class="search-widget">
                            <input type="text" class="form-control">
                            <i class="fa fa-search"></i>
                        </form>
                    </div><!--sidebar-box-->
                     <div class="sidebar-box margin40">
                        <h4>Tips</h4>
                        <p>
                            We care about your passion more than your paper resume. <br>
                            We care about your sharp skills more than the num of experience. <br>
                            We care about all our team members and respect their mind!
                        </p>
                    </div><!--sidebar-box-->

                </div>
            </div>

        </div><!--careers container-->
        <div class="divide80"></div>

        <section id="cta-1">
            <div class="container">
                <h1>Want to Work With Us?</h1>
                <a href="#" class="btn border-white btn-lg">Get In Touch</a>
            </div>
        </section>


    </body>
</html>
