
    <body>

        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Our Pricing</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>Pricing</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->
        <div class="divide80"></div>

        <div class="container">

            <div class="divide40"></div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading">Pricing for Busters</h3>
                </div>
            </div>
            <div class="divide40"></div>
            <div class="row">
                <div class="col-md-3 margin20 wow animated fadeInRight">
                    <div class="price-wrap">
                        <div class="price-title">
                            <h4>Basic Service</h4>
                        </div><!--price title-->
                        <div class="price-price">
                            $500.00
                            <span>Per Round Per Platform</span>
                        </div><!--price price-->
                        <div class="price-features">
                            <ul class="list-unstyled">
                                <li style="color:#0099ff; font-weight: bold">We charge 50% commission</li>
                                <li>Across diverse platforms</li>
                                <li>Special user requirements</li>
                                <li>Hear Real Users' Voices</li>
                                <li>Basic Product Report</li>
                            </ul>
                        </div><!--price features-->
                        <div class="price-action">
                            <a href="#" class="btn btn-theme-dark">Choose plan</a>
                        </div><!--price action-->
                    </div><!--price-wrap-->
                </div><!--price col-->
                <div class="col-md-3 margin20 wow animated fadeInRight">
                    <div class="price-wrap">
                        <div class="price-title">
                            <h4>UX & Usability</h4>
                        </div><!--price title-->
                        <div class="price-price popular">
                            $50.00
                            <span>Per Bug</span>
                        </div><!--price price-->
                        <div class="price-features">
                            <ul class="list-unstyled">
                                <li style="color:#0099ff; font-weight: bold">We charge 80% commission</li>
                                <li>Usability issues</li>
                                <li>Cosmetic & UI issues</li>
                                <li>Aesthetic issues</li>
                                <li>Other usability issues</li>
                            </ul>
                        </div><!--price features-->
                        <div class="price-action">
                            <a href="#" class="btn btn-theme-bg">Choose plan</a>
                        </div><!--price action-->
                    </div><!--price-wrap-->
                </div><!--price col-->
                <div class="col-md-3 margin20 wow animated fadeInRight">
                    <div class="price-wrap">
                        <div class="price-title">
                            <h4>QA Bugs</h4>
                        </div><!--price title-->
                        <div class="price-price">
                            $100.00
                            <span>Per Bug</span>
                        </div><!--price price-->
                        <div class="price-features">
                            <ul class="list-unstyled">
                                <li style="color:#0099ff; font-weight: bold">We charge 50% commission</li>
                                <li>Major loss of function</li>
                                <li>Affects major data</li>
                                <li>Misleading & inaccurate information</li>
                                <li>Other Major issues</li>
                            </ul>
                        </div><!--price features-->
                        <div class="price-action">
                            <a href="#" class="btn btn-theme-dark">Choose plan</a>
                        </div><!--price action-->
                    </div><!--price-wrap-->
                </div><!--price col-->
                <div class="col-md-3 margin20 wow animated fadeInRight">
                    <div class="price-wrap">
                        <div class="price-title">
                            <h4>Vulnerabilities</h4>
                        </div><!--price title-->
                        <div class="price-price">
                            $1000.00
                            <span>Per Bug</span>
                        </div><!--price price-->
                        <div class="price-features">
                            <ul class="list-unstyled">
                               <li style="color:#0099ff; font-weight: bold">We charge 20% commission</li>
                               <li>Vulnerabilities</li>
                               <li>Corruption of Data</li>
                               <li>Loss of Data</li>
                               <li>Any other Blocker Bugs</li>
                            </ul>
                        </div><!--price features-->
                        <div class="price-action">
                            <a href="#" class="btn btn-theme-dark">Choose plan</a>
                        </div><!--price action-->
                    </div><!--price-wrap-->
                </div><!--price col-->
            </div><!--row for 3 col-->

            <!-- Pricing for Technical Experts - 3-Columns-->
            <div class="divide80"></div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading">Pricing for Technical Experts</h3>
                </div>
            </div>
            <div class="divide40"></div>
            <div class="row">
                <div class="col-md-4 margin20 wow animated fadeInRight">
                    <div class="price-wrap">
                        <div class="price-title">
                            <h4>Fix The Knotty Bugs & Problems</h4>
                        </div><!--price title-->
                        <div class="price-price">
                            $100.00
                            <span>Per Month</span>
                        </div><!--price price-->
                        <div class="price-features">
                            <ul class="list-unstyled">
                                <li>Analyze knotty bugs & problems</li>
                                <li>Fix the intractable bugs</li>
                                <li>Solve the knotty tech problems</li>
                                <li>Bug verification</li>
                                <li>Consulting Bug & Problem solutions</li>
                            </ul>
                        </div><!--price features-->
                        <div class="price-action">
                            <a href="#" class="btn btn-theme-dark">Choose plan</a>
                        </div><!--price action-->
                    </div><!--price-wrap-->
                </div><!--price col-->
                <div class="col-md-4 margin20 wow animated fadeInRight">
                    <div class="price-wrap">
                        <div class="price-title">
                            <h4>Advise Tech Strategy & Architecture</h4>
                        </div><!--price title-->
                        <div class="price-price popular">
                            $100.00
                            <span>Per Hour</span>
                        </div><!--price price-->
                        <div class="price-features">
                            <ul class="list-unstyled">
                                <li>Get insightful leading tech strategy advise</li>
                                <li>Support business aim through leading technology</li>
                                <li>Design a clean & valid tech architecture</li>
                                <li>Access the world's top tech experts online instantly</li>
                                <li>Other technical support</li>
                            </ul>
                        </div><!--price features-->
                        <div class="price-action">
                            <a href="#" class="btn btn-theme-bg">Choose plan</a>
                        </div><!--price action-->
                    </div><!--price-wrap-->
                </div><!--price col-->
                <div class="col-md-4 margin20 wow animated fadeInRight">
                    <div class="price-wrap">
                        <div class="price-title">
                            <h4>Control Product & Technical Risks</h4>
                        </div><!--price title-->
                        <div class="price-price">
                            $1000.00
                            <span>Per Report</span>
                        </div><!--price price-->
                        <div class="price-features">
                            <ul class="list-unstyled">
                                <li>Product data analysis across crowd-platforms</li>
                                <li>Product functional assessment across world's users</li>
                                <li>Product Defect & Quality analysis</li>
                                <li>Product Risk Controlling & Management</li>
                                <li>User experience analysis across crowd-geo</li>
                            </ul>
                        </div><!--price features-->
                        <div class="price-action">
                            <a href="#" class="btn btn-theme-dark">Choose plan</a>
                        </div><!--price action-->
                    </div><!--price-wrap-->
                </div><!--price col-->

            </div><!--row for 3 col-->
            <!-- End of ricing for Technical Experts - 3-Columns-->

        </div><!--price inner page-->
        <div class="divide60"></div>


    </body>
</html>
