    <% provide(:title, "Our Story") %>
    <body>

        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>About Us</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->
        <div class="divide80"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 margin20">
                    <h3 class="heading">About us</h3>
                    <p>

                      <p>
                       We are an AI-powered robotics company located in Sydney and Shenzhen <br>which
                       provides robotic products and AI technical solutions to international business clients, including hotels, warehouses, and restaurants.
                      <br>
                    </p>
                    <!--<p><a href="/products/index" class="btn border-blue btn-lg">Our Services</a></p>-->
                </div>
                <div class="col-md-6">
                    <!--<img src="<%= asset_path "showcase-10.png" %>" class="img-responsive" alt="">-->
                    <iframe width="560" height="349" src="https://www.youtube.com/embed/hozsbHjJSfs" frameborder="0"></iframe>
                </div>
            </div><!--about intro-->

            <!--Cat Addition Our Business Model-->
            <section id="services-bg-wrap" class="white-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 hidden-sm">
                            <img src="<%= asset_path "showcase-10.png" %>" class="img-responsive wow animated fadeInLeft" alt="">
                        </div>
                        <div class="col-md-8  col-xs-12 service-4-meta">
                            <h3>Our Robot Products and AI Solutions</h3>
                            <span class="center-line"></span>
                            <div class="divide20"></div>
                            <p>
                              <strong>We sell two SERVICE ROBOTICS PRODUCTS:</strong>
                              <br><strong><font color="orange">SERVICE DELIVERY ROBOT</font></strong>
                              which could take lift and deliver items to each room autonoumously
                              by using SLAM, navigation AI techniques;
                              <br>
                              <strong><font color="#00bfff">RECEPTION ASSISTANT ROBOT</font></strong> working in hotels to help customers to check-in with billingual voice communication (English and Chinese), one robot could help business reduce two human costs.
                              <br><br>
                              We also provide <strong><font color="orange">AI technical solutions</font></strong>
                              including <strong>Face recognition, object recognition, NLP, and multimodal fusion AI techniques</strong>
                              to help business clients
                              reduce human resource cost and better and more effectively understand their users, thereby increasing sales.
                              <br><br>
                              Our conversational AI has the best natural language understanding capability in Chinese and English.
                              She recognizes intent, meaning, and emotion, and she has memory.
                              As well as conversing with you fluently in Chinese and English,
                              she can play music, tell jokes, remind you about appointments,
                              remember things for you, check the weather, search for knowledge,
                              call didi, book a restaurant, and so on.
                            </p>
                            <div class="divide20"></div>

                            <!--<a href="#" class="btn border-blue btn-lg">Contact Us</a>-->
                        </div>
                    </div>
                </div>
            </section><!--services with the showcase mockups-->
            <!--End of Cat Addition Our Business Model-->

            <div class="divide20"></div>

        </div><!--.container-->

        <div class="container">
            <!-- Leading Team Members-->
            <div class="row">
                <div class="col-md-12">
                    <div class="center-heading">
                        <h2>Leading team members</h2>
                        <span class="center-line"></span>
                        <p class="lead">Our team have over 5 years experience in building service robots and have successfully delivered several robots to business clients.</p>
                    </div><!--center-heading-->
                </div>
            </div>

            <div class="container-about-board-member">
              <div class="row">
                <div class="col-md-3 margin20">
                </div>
                <div class="col-md-3 margin20">
                   <img src="<%= asset_path "customer-0.png" %>" class= "img-circle img-responsive board-member-img" style="width:130px; height:130px;" alt="">
                   <br>
                   <h4>Caroline Gao</h4>
                   <h6>Founder & Product Director</h6>
                   <ul class="list-inline social-1">
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                   </ul>
                </div>

                <div class="col-md-3 margin20">
                   <img src="<%= asset_path "customer-4.png" %>" class= "img-circle img-responsive" style="width:130px; height:130px;" alt="">
                   <br>
                   <h4>Zhaofeng Yuan</h4>
                   <h6>Co-Founder & Tech Lead</h6>
                   <ul class="list-inline social-1">
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                   </ul>
                </div>

                <div class="col-md-3 margin20">
                </div>
              </div>
            </div>

            <!-- End of Leading Team Members-->


            <!-- Team Members -->
            <div class="row">
                <div class="col-md-12">
                    <div class="center-heading">
                        <h2>Team Members</h2>
                        <span class="center-line"></span>
                        <p class="lead">We welcome passionate people to <a href="/career/index">join us</a> to design and build robots together.</p>
                    </div><!--center-heading-->
                </div>
            </div>

            <!-- End of Team Members-->

        </div><!--team-->

        <div class="divide60"></div>


    </body>
</html>
